<section class="no-height primary-bg">
    <div class="row g-0  py-5 text-white">
        <div class="col-lg-5 center pb-5">
            <div class="w-75 flex-column">
                <div class="bg-white rounded-pill center px-3">
                    <img src="assets/images/general/logo1.svg" alt="">
                </div>
                <p class="mt-4" style="text-align: justify;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Tempora a provident voluptates. Provident
                    tempore, consequatur ducimus quibusdam quod excepturi doloribus.
                </p>
            </div>
        </div>
        <div class="col-lg-3 d-sm-block d-none">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Solutions</li>
                <li>Gallery</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-lg-4 center">
            <ul>
                <li><i class="bi bi-telephone-fill"></i> 9078563412</li>
                <li><i class="bi bi-envelope-at"></i> info&#64;jeya.in</li>
                <li><i class="bi bi-geo-alt-fill"></i> 123, Housing board colony,<br>
                    <span class="ms-5"> Egmore, Chennai 600 008.</span>
                </li>
                <li class="d-flex justify-content-between mt-5 media">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter-x"></i>
                </li>
            </ul>
        </div>
    </div>
</section>