<section class="no-height primary-bg">
    <div class="row g-0  py-5 text-white">
        <div class="col-lg-5 center pb-5">
            <div class="w-75">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, quo!
            </div>
        </div>
        <div class="col-lg-3 d-sm-block d-none">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Solutions</li>
                <li>Gallery</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-lg-4 center">
            <ul>
                <li><i class="bi bi-telephone-fill"></i> 9078563412</li>
                <li><i class="bi bi-envelope-at"></i> info&#64;jeya.in</li>
                <li><i class="bi bi-geo-alt-fill"></i> Egmore, Chennai</li>
                <li class="d-flex justify-content-between mt-3 media">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter-x"></i>
                </li>
            </ul>
        </div>
    </div>
</section>