<section class="px-5 mb-4" id="hero">
    <!-- <div class="blog-post"></div> -->
    <p class="heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam neque ex corporis sint ipsam hic
        modi ad unde velit pariatur.</p>
    <div class="center">
        <div class="width">
            <img src="assets/images/blogs/post.jpg" alt="" class="blog-post">
            <div class="text-end">
                <small>11 June 2002</small>
            </div>
        </div>
    </div>
    <p class="my-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem illo aut doloribus autem. Inventore, earum
        nemo, ad quidem alias deserunt laudantium explicabo enim possimus provident distinctio praesentium! Rem repellat
        commodi pariatur atque temporibus molestias quia asperiores beatae perspiciatis, est maxime fugit. Iste
        voluptatum facere aperiam distinctio quos laborum commodi accusantium ipsum, dolorum dolore cupiditate ipsam nam
        vero cum unde repellat necessitatibus voluptates debitis. Dicta dolores ratione vel a voluptate veniam tempora
        numquam obcaecati deserunt, totam quidem corrupti nisi ea nesciunt debitis eum? Dicta quibusdam consequuntur
        architecto deserunt suscipit rerum reiciendis laborum voluptates earum eum tenetur, vero, dolorum sed
        voluptatem! Rem omnis sit molestiae quidem, praesentium quos nemo blanditiis explicabo, iusto consequatur eius
        expedita? Quis eius rem tempore id itaque vitae dolorum distinctio at illum! Quia dolores vero beatae officia ab
        ducimus dolorum, sunt iure, cumque corporis neque accusantium minus ex est atque qui, culpa voluptates autem
        odio illo laboriosam animi itaque alias aspernatur! Architecto vero molestias delectus magnam aperiam quisquam
        expedita earum sint, culpa quasi veritatis rem, in itaque optio quod, aliquid ad neque sit aspernatur quo
        laboriosam? Assumenda ea deleniti nulla veniam corrupti officiis qui repudiandae enim ipsum quo, fuga nostrum
        laboriosam eligendi repellat reiciendis esse dolorum dignissimos.
    </p>
    <p class="my-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem illo aut doloribus autem. Inventore, earum
        nemo, ad quidem alias deserunt laudantium explicabo enim possimus provident distinctio praesentium! Rem repellat
        commodi pariatur atque temporibus molestias quia asperiores beatae perspiciatis, est maxime fugit. Iste
        voluptatum facere aperiam distinctio quos laborum commodi accusantium ipsum, dolorum dolore cupiditate ipsam nam
        vero cum unde repellat necessitatibus voluptates debitis. Dicta dolores ratione vel a voluptate veniam tempora
        numquam obcaecati deserunt, totam quidem corrupti nisi ea nesciunt debitis eum? Dicta quibusdam consequuntur
        architecto deserunt suscipit rerum reiciendis laborum voluptates earum eum tenetur, vero, dolorum sed
        voluptatem! Rem omnis sit molestiae quidem, praesentium quos nemo blanditiis explicabo, iusto consequatur eius
        expedita? Quis eius rem tempore id itaque vitae dolorum distinctio at illum! Quia dolores vero beatae officia ab
        ducimus dolorum, sunt iure, cumque corporis neque accusantium minus ex est atque qui, culpa voluptates autem
        odio illo laboriosam animi itaque alias aspernatur! Architecto vero molestias delectus magnam aperiam quisquam
        expedita earum sint, culpa quasi veritatis rem, in itaque optio quod, aliquid ad neque sit aspernatur quo
        laboriosam? Assumenda ea deleniti nulla veniam corrupti officiis qui repudiandae enim ipsum quo, fuga nostrum
        laboriosam eligendi repellat reiciendis esse dolorum dignissimos.
    </p>
</section>