<section id="hero">
    <div class="w-75">
        <h1>Who are we?</h1>
    </div>
</section>

<section class="center no-height pb" id="leading-marine">
    <div class="container-md p-5">
        <p class="primary-text heading fw-semibold">Leading Marine Maritime Industry</p>
        <p>
            Moreover, the term might appear in literature, art, or historical references, such as in "Marienbad," a city
            in the Czech Republic, known for its cultural and architectural heritage.
            The word "Marien" could also evoke associations with traditional European festivals or celebrations,
            particularly those linked to the Virgin Mary.
            Thus, its meaning can vary widely depending on the context.
        </p>
        <p>
            Moreover, the term might appear in literature, art, or historical references, such as in "Marienbad," a city
            in the Czech Republic, known for its cultural and architectural heritage.
            The word "Marien" could also evoke associations with traditional European festivals or celebrations,
            particularly those linked to the Virgin Mary.
            Thus, its meaning can vary widely depending on the context.
        </p>
    </div>
</section>


<section class="bg-gray p-0 no-height" id="vision">
    <div class="row g-0">
        <div class="col-lg-6 bg-vision">
        </div>
        <div class="col-lg-6 center py-5">
            <div class="w-75 pt-4">
                <p class="primary-text fs-3 fw-semibold">Vision</p>
                <p>
                    Moreover, the term might appear in literature, art, or historical references, such as in
                    "Marienbad," a
                    city in the Czech Republic, known for its cultural and architectural heritage.
                    The word "Marien" could also evoke associations with traditional European festivals or celebrations,
                    particularly those linked to the Virgin Mary.
                    Thus, its meaning can vary widely depending on the context.
                    Moreover, the term might appear in literature, art, or historical references, such as in
                    "Marienbad," a
                    city in the Czech Republic, known for its cultural and architectural heritage.
                    The word "Marien" could also evoke associations with traditional European festivals or celebrations,
                    particularly those linked to the Virgin Mary.
                    Thus, its meaning can vary widely depending on the context.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="no-height bg-gray mb-5 p-0" id="mission">
    <div class="row g-0">
        <div class="col-lg-6 center py-5">
            <div class="w-75 pt-4">
                <p class="primary-text fs-3 fw-semibold">Mission</p>
                <p>
                    Moreover, the term might appear in literature, art, or historical references, such as in
                    "Marienbad," a city in the Czech Republic, known for its cultural and architectural heritage.
                    The word "Marien" could also evoke associations with traditional European festivals or celebrations,
                    particularly those linked to the Virgin Mary.
                    Thus, its meaning can vary widely depending on the context.
                    Moreover, the term might appear in literature, art, or historical references, such as in
                    "Marienbad," a city in the Czech Republic, known for its cultural and architectural heritage.
                    The word "Marien" could also evoke associations with traditional European festivals or celebrations,
                    particularly those linked to the Virgin Mary.
                    Thus, its meaning can vary widely depending on the context.
                </p>

            </div>
        </div>
        <div class="col-lg-6 bg-vision">
        </div>
    </div>
</section>