#hero{
    background: linear-gradient(to right, #000000be, transparent ), url("../../assets/images/blogs/hero.jpg");
    background-size: cover; 
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    line-height: normal;
}
.card-0{
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    border-color: transparent;
    box-shadow: 2px 4px 12px #00000014;
    .post{
        width: 100%;
        aspect-ratio: 3/2;
        transition: all .3s cubic-bezier(0,0,.5,1);
        border-radius: .5rem;
        overflow: hidden;
        &:hover{
            transform: scale(1.05);
        }
    }
    .content{
        margin-top: .5rem;
        padding: 1rem;
        .post-title{
            letter-spacing: normal;
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0px;
        }
        small{
            opacity: .7;
        }
        .date{
            position: absolute;
            bottom: 0;
            right: 1rem;
            text-align: end;
        }
    }
}
.heading{
    font-size: 2rem;
}