<section id="hero">
    <div class="w-75">
        <h1>Blogs</h1>
    </div>
</section>

<section id="blogs" class="mb-3">
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <p class="heading primary-text fw-bold text-center mt-2">Latest Insights</p>
            </div>
            @for (item of [1,2,3,4,5,6]; track $index) {
            <div class="col-lg-4 center">
                <div class="card-0 border border-2" [routerLink]="item+''">
                    <img src="assets/images/blogs/post.jpg" alt="blog" class="post">
                    <div class="content">
                        <p class="post-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, dolores.
                        </p>
                        <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            illum maxime, voluptatem perferendis?</small>
                        <p class="date">11 June 2002</p>
                    </div>
                </div>
            </div>
            }
            <div class="col-12 text-end">
                <button class="btn btn-link primary-text text-decoration-none">See more...</button>
            </div>
        </div>
    </div>
</section>