<section id="hero">
    <div class="w-75">
        <h1>Contact us</h1>
    </div>
</section>

<section id="contact" class="pt-0 bg-gray">
    <div class="row g-0">
        <div class="col-lg-6 center vh-100">
            <div class="w-75">
                <div class="row">
                    <div class="col-12 sub-title  my-5">
                        Reach Out—We’re All Ears
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="control">
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="">Email</label>
                        <input type="text" required class="control">
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="">Phone</label>
                        <input type="text" required class="control">
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Message</label>
                        <textarea type="text" rows="2" class="control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-100 center">
            <div class="">

            </div>
        </div>
    </div>
</section>