<section id="hero">
    <div class="w-75">
        <h1>Contact us</h1>
    </div>
</section>

<section id="contact" class="pt-0 bg-gray">
    <div class="row g-0">
        <div class="col-lg-6 center min-vh-100">
            <div class="w-75">
                <div class="row">
                    <div class="col-12 sub-title  my-5">
                        Reach Out—We’re All Ears
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="control">
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="">Email</label>
                        <input type="text" class="control">
                    </div>
                    <div class="col-12 mb-2 form-group">
                        <label for="">Phone</label>
                        <input type="text" class="control">
                    </div>
                    <div class="col-12 form-group">
                        <label for="">Message</label>
                        <textarea type="text" rows="6" class="control"></textarea>
                    </div>
                    <div class="col-12 pt-4 text-end">
                        <button class="btn-0 primary-bg text-white">Submit <i class="bi bi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 contact-banner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="group">
                        <div class="icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <a href="tel:8978564523">+91 98745 63201</a>
                    </div>
                    <div class="group">
                        <div class="icon">
                            <i class="bi bi-envelope-at"></i>
                        </div>
                        <a href="mailto:">info&#64;jeya.in</a>
                    </div>
                </div>
                <div class="col-lg-6 media">
                    <div class="group">
                        <div class="">
                            <div class="icon">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                        </div>
                        <a href="">
                            HCL Technologies Ltd. | Technology Hub, SEZ
                            Plot No. 3A, Sector 126 | Noida – 201304, India
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <img src="assets/images/contact-us/contact.svg" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>