#hero{
    background: linear-gradient(to right, #000000be, transparent ), url("../../assets/images/contact-us/hero.jpg");
    background-size: cover; 
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    line-height: normal;
}
.form-group{
    .control{
        caret-color: var(--primary-color) !important;
        width: 100%;
        display: block;
        border: none ;
        border-radius: 0;
        background-color: transparent;
        border-bottom: 1px solid #3335 ;
        box-shadow: none;
        padding: 0.25rem 0 0 0;
        outline: none;
        font-weight: 500;
        letter-spacing: 0px;
        font-size: 1.1rem;
    }
}
.sub-title{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}
.contact-banner{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding-top: 10rem;
    padding-inline: 2rem;
    background-color: #fff;

    .group{
        display: flex;
        // justify-content: center;
        // align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
        .icon{
            width: 3.5rem;
            aspect-ratio: 1/1;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i.bi{
                font-size: 1.5rem;
                color: #fff;
            }
        }
        a{
            padding-top: .5rem;
            text-decoration: none;
            color: #333;
            font-size: 1.2rem;
        }
    }
}