/* You can add global styles to this file, and also import other style files */
//#region ROOT
@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}     
@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} 
@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} 
:root{
    --primary-color : #044362;
    --nav-height : 65px;
}
* {
    font-family: 'poppins';
    letter-spacing: .1rem;
    font-size: 13px;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
//#endregion
.btn-0{
    i{
        font-size: 1.2rem;
    }
    background-color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    padding: .5rem 2rem;
}
//#region SCROLLBAR
/* Styling the entire scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width for vertical scrollbars */
    height: 5px; /* Height for horizontal scrollbars */
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Styling the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
//#endregion

section{
    width: 100%;
    min-height: 100dvh;
    padding-top: var(--nav-height);
    &#hero{
        margin-top: calc( var(--nav-height) * -1 );
    }
}
.bg-gray{
    background-color: #f5f5f7; //#F2F2F2;
}
.no-height{
    min-height: initial;
}
.pb{
    padding-bottom: var(--nav-height);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-bg{
    background-color: var(--primary-color);
}
.primary-text{
    color: var(--primary-color) !important;
}
.h-90{
    height: 90%;
}
.card-0{
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 29.4117647059rem;
    overflow: hidden;
    padding: 30px;
    position: relative;
    transition: all .3s cubic-bezier(0,0,.5,1);
    width: 23.5294117647rem;
}